@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.nav-header {
  width: 100%;
  color: #303030;
  font-size: 20px;
  background-color: rgb(183, 183, 231);
  padding: 14px;
  display: flex;
  flex-direction: row;
  a {
    color: inherit;
    text-decoration: none;
  }
  #heading {
    flex: 1 0 60%;
    padding-left: 30px;
  }
  #contact,
  #about {
    flex: 1 1 20%;
  }
  #contact:hover,
  #about:hover {
    color: #000;
    cursor: pointer;
  }
}

.search-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  #search-input {
    border: 1px solid #b6b6b6;
    padding: 6px;
    width: 40%;
    border-radius: 6px;
    font-size: 1rem;

    &:disabled {
      background-color: #bebebe;
      cursor: not-allowed;
    }
  }

  input[type="file"] {
    display: none;
  }
  #search-by {
    border: 1px solid #b6b6b6;
    border-radius: 6px;
  }

  #sheet-number-input {
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    width: 5%;
    padding: 6px;
  }

  .custom-file-upload {
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    align-items: center;
    column-gap: 4px;
    &:hover {
      background-color: #c5c5c5;
      transition: 0.4s ease-in-out;
    }
    .upload-icon {
      font-size: x-large;
    }
  }
}

.about-container,
.contact-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  text-align: center;
  margin: 0;
  width: 50%;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0.5rem 1.2rem rgb(183, 183, 231);
}

.table-wrapper {
  width: 95%;
  overflow: scroll;
  height: 470px;
  // direction: rtl;
  margin: 0px auto;
}

.xlsx-table {
  border-collapse: collapse;
  width: 100%;
  th {
    font-weight: 600;
    background-color: rgb(183, 183, 231);
  }
  th,
  td {
    border: 2px solid #888888;
    padding: 2px;
    text-align: left;
  }
}

.file-handle-wrapper {
  display: flex;
  margin: 10px auto 0px;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  width: 95%;
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  #file-name {
    font-size: 18px;
    font-weight: 600;
    padding: 2px 12px;
    display: flex;
    column-gap: 8px;
    color: rgb(7, 34, 75);
    align-items: center;
    box-shadow: 0 0.5rem 1.2rem rgb(219, 219, 219) inset;
  }
  #btn-export-items {
    align-self: flex-end;
  }
  #btn-file-close {
    font-size: 20px;
  }
  #btn-export-items {
    font-size: 25px;
  }
}
